<div class="col-md-12">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>{{ post.name }}</h2>
                <p>{{ post.description }}</p>
                <p>
                    <a class="btn {% if _session.user_id is empty %} disabled {% else %} btn-primary btn-large {% endif %} btn-like" href="/posts/like" data-post="{{ post.id }}">
                        <i class="fa fa-heart-o"></i><span> нравится </span><span class="count-likes">{{ post.countLikes() }}</span>
                    </a>
                    <a class="btn btn-primary btn-large" href="/posts/show?post_id={{ post.id }}">
                        <span><i class="fa fa-eye"></i> подробнее</span>
                    </a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for i in pages %}
                <li {% if _get.page == i %} class="btn disabled" {% endif %}>
                    <a href="/?page={{ i }}{% if _get.category_id is not empty %}&category_id={{_get.category_id}}{% endif %}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>