{% extends "layouts/main.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ post.name }}</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="jumbotron">
                                <h2>{{ post.name }}</h2>
                                <p>{{ post.description }}</p>
                                <p>category_id =  {{ post.category_id }}</p>
                                {{  post.content | raw }}
                                <p>
                                    <a class="btn btn-primary btn-large" href="#">Нравится</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}